# AI Framework & Orchestration
langchain
langchain-community
langchain-ollama
langgraph

# Observability
langsmith

# Quantitative Engine
yfinance
pandas

# Database & State (HITL)
langgraph-checkpoint-postgres
psycopg-pool
psycopg[binary]

# Frontend UI
streamlit
plotly